/* sudokuJS v0.4.4 - CSS
// https://github.com/pocketjoso/sudokuJS
// Author: Jonas Ohlsson
// License: MIT
*/
body #sudoku {overflow: hidden !important; }
.navbar.custom-header, .sidebar, .right-sidebar, .mobile-menu-btn, .sidebar-menu, #knowMoreBtn, .custom-footer, #iz-news-hub-sticky-sidebar { display: none !important;}
.Center-main-div { border:none !important; box-shadow:none !important; padding: 0 !important; margin:0 !important; width:100% !important; }
.nav-list { top: 0 !important; }
.contents-main-div { padding:0 !important; margin:0 !important; }
.nav-list.custom-sidebar.scrollarea { display:contents !important; }
#sudoku a { display:none !important; }
.sudoku-board {
	min-height: 22.75rem;
	margin-top: 2px;
	margin-bottom: 7px;
	text-align: center;
}
	/*cell (wrapper) contains both cell input and candidates div*/
	.sudoku-board-cell {
		display: inline-block;
		position: relative;
		border: 1px solid #ddd;
		background: white;
		max-width: 11.11111%;
	}
		/*rules for drawing the black lines dividing houses
			-- specific for board size 9! need diff rules for diff board sizes
		*/
		[data-board-size="9"].sudoku-board .sudoku-board-cell:nth-of-type(9n+1){
			border-left-width: 2px;
			border-left-color: #ae964e;
		}
		[data-board-size="9"].sudoku-board .sudoku-board-cell:nth-of-type(n):nth-of-type(-n+9){
			border-top-width: 2px;
			border-top-color: #ae964e;
		}
		[data-board-size="9"].sudoku-board .sudoku-board-cell:nth-of-type(3n){
			border-right-width: 2px;
			border-right-color: #ae964e;
		}
		[data-board-size="9"].sudoku-board .sudoku-board-cell:nth-of-type(n+19):nth-of-type(-n+27),
		[data-board-size="9"].sudoku-board .sudoku-board-cell:nth-of-type(n+46):nth-of-type(-n+54),
		[data-board-size="9"].sudoku-board .sudoku-board-cell:nth-of-type(n+73):nth-of-type(-n+81){
			border-bottom-width: 2px;
			border-bottom-color: #ae964e;
		}

		/* the input for the value of each cell (i.e. 1-9 or empty for standard sudoku*/
		.sudoku-board-cell input {
			background: none;
			font-size: 19.2px;
			font-size: 1.2rem;
			text-align: center;
			width: 2em;
			max-width: 100%;
			height: 2em;
			border: 0;
			position: relative;
			z-index: 1; /*on top of candidates*/
		}

			/*highlight new input in board cell*/
			.sudoku-board-cell .highlight-val {
				color: #00d;
			}
			/*highligt incorrect input*/
			.sudoku-board-cell .board-cell--error {
				background: #d00;
				color: #eee;
			}
		/*wrapper that hold the candidates for each cell*/
		.sudoku-board-cell .candidates {
			display: none; /*hidden by default*/
			position: absolute;
			top: 0; bottom: 0; left: 0; right: 0;
			text-align: center;
			font-size: .75em; /*1/3 /1.13 out of the 2*1.2em cell height*/
			letter-spacing: -.5px;
			font-family: monospace, sans-serif;

			/*use as justify grid*/
			line-height: 0;
			text-align: justify;
		}
			.sudoku-board .candidates:after {
				content: "";
				display: inline-block;
				width: 100%;
			}
		/* when board cells start to get narrower because of small screen,
			reduce letter spacing for candidates to make them still fit*/
		@media(max-width: 23em){
			.sudoku-board .candidates {
				letter-spacing: -2px;
			}
		}
			.showCandidates .candidates {
				display: block;
			}

			/*each candidate in each cell is wrapped in a div*/
			.sudoku-board .candidates div {
				display: inline-block;
				width: 20%;
				line-height: 1.13;
				vertical-align: top;
				display: inline;
				zoom: 1;
			}
				/*.candidates div*/.candidate--highlight {
					background-color: yellow;
				}
				/*.candidates div*/.candidate--to-remove {
					background-color: red;
					color: white;
				}

.sudokubutton1,.sudokubutton2,.sudokubutton3,.sudokubutton4,
.sudokubutton5,.sudokubutton6,.sudokubutton7 {
color: white;
-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;
padding: 0px 4px;
background-color: #820d00;
padding: 13px 18px;
font-size: 18px;
color: #fff;
border: 0;
border-radius: 0;
cursor: pointer;
line-height: 20px;
text-align: center;
min-width: inherit;
display: inline-block;
box-shadow: 0 2px 3px #000;
font-weight: bold;
margin-bottom: 10px;
margin-right: 10px;
border-radius: 5px;
}
.sudokubutton1 {
background-color: #3cbf71;
}
.sudokubutton2 {
background-color: #ae964e;
min-width: 200px;
    max-width: 200px;
    margin: 0 auto;
    display: block;
    margin-bottom: 18px;
}
.sudokubutton2:hover {
	background-color: #977f36;
	}
.sudokubutton3 {
background-color: #ff3c3c;
}
.sudokubutton4 {
background-color: #020202;
}
.sudokubutton5,.sudokubutton6 {
background-color: #ae4e4e;
}
.sudokubutton5:hover,.sudokubutton6:hover {
	background-color: #973a3a;
	}
.sudokubutton7 {
background-color: #4e72bd;
}
.sudokubutton7:hover {
	background-color: #4a698f;
	}

.bottomBtnGroup {
	display: flex;
	gap: 0;
	justify-content: space-between;
	margin-top: 0;
	flex-direction: column;
    width: 100%;
}

.solveBtnbox, .clearBtnbox {
	position: relative;
	/* border: 1px solid #e7dbdb; */
	border: 0;
	padding: 10px 15px;
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 10px;
	span {
		position: absolute;
		width: 100px;
		margin-left: -50px;
		height: 30px;
		background-color: #faf1f1;
		border: 1px solid #e7dbdb;
		display: flex;
		align-items: center;
		justify-content: center;
		left: 50%;
		top: -15px;
		color: #ae4e4e;
		font-weight: 600;
		text-transform: uppercase;
		border-radius: 16px;
		font-size: 12px;
	}
	button {
		margin: 0;
		min-width: 146px;
		
	}
}
.clearBtnbox {
	/* border: 1px solid #dfe3e7; */
	border: 0;
	span {
		border: 1px solid #dfe3e7;
		color: #5f7fa5;
		background: #ecf5ff;
	}
	button {
		min-width: 324px;
	}
}